    <!-- Footer -->
    <footer>
        <div class="o-footer">
        <div class="container">
        <div class="row">
        <div class="col-md-4">
		<h3>We create bespoke <span class="b-blue">eCommerce</span> websites.</h3>
		<p class="link">Let's talk <span class="b-blue">></span></p>
		<p><a href="https://twitter.com/nodestackio" target="_blank"><i class="fa fa-fw fa-twitter icon-social"></i></a></p>

	</div>
        <div class="col-md-1">
          <p class="titulo">CALL</p>
        </div>
        <div class="col-md-2 info">
          <p>+351 916 639 929</p>
          <p></p>
        </div>
        <div class="col-md-1">
          <p class="titulo">WRITE</p>
        </div>
        <div class="col-md-2 info">
          <p>hello@activesale.pt</p>
        </div>
        <div class="col-md-2">
        </div>
      </div>       
		    
		    
		    
  
           </div>
         </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
