    <!-- Footer -->
    <footer>
        <div class="o-footer">
        <div class="container">
	 <div class="row">
		<div class="col-md-4">
			<h3>Stembolt</h3>
			<p class="link">Let's talk <span class="b-blue">></span></p><br>
			<p><a href="https://twitter.com/nodestackio" target="_blank"><i class="fa fa-fw fa-twitter icon-social"></i></a></p>

		</div>
		<div class="col-md-2 info">
		  <p><b>STEMBOLT</b></p>
		  <p>Rails Development</p>
		  <p>Spree Development</p>
		  <p>Product Design</p>
		</div>
		 <div class="col-md-10">
		</div>       
       </div>       
             <div class="row">
		<div class="col-md-4">

		</div>
		<div class="col-md-1">
		  <p class="titulo">WRITE</p>
		</div>
		<div class="col-md-2 info">
		  <p>contact(at)stembolt.co</p>
		</div>
		<div class="col-md-2">
        </div>   
		    
		    
  
           </div>
         </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
