    <!-- Footer -->
    <footer>
        <div class="o-footer">
            <div class="container">
		    <div class="center">
			    <h1>Like what you see? Let’s talk and turn your great idea into something amazing!</h1></div>
		    
		    <div class="row">
        <div class="col-md-1">
          <p class="titulo">FIND</p>
        </div>
        <div class="col-md-2 info">
          <p>Unoffice</p>
          <p>Ponta Delgada</p>
        </div>
        <div class="col-md-1">
          <p class="titulo">CALL</p>
        </div>
        <div class="col-md-2 info">
          <p>+351 916 639 929</p>
          <p></p>
        </div>
        <div class="col-md-1">
          <p class="titulo">WRITE</p>
        </div>
        <div class="col-md-2 info">
          <p>hello@nodestack</p>
        </div>
        <div class="col-md-1 offset-md-2">
          <a href="https://twitter.com/nodestackio" target="_blank"><i class="icon-twitter"></i></a>
        </div>
      </div>    
		    
		    
		    
		    
                <div class="row">
                  
		<div class="col-md-3">
                        
                 
			<ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                        </ul>			    
                    </div>
		    </div>
           </div>
         </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
