            <!-- THIS IS THE MENU -->
            <ul class="mobilenav">
              <li><a href="#">jQuery</a></li>
              <li><a href="#">Script</a></li>
              <li><a href="#">Net</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Demo Page</a></li>
            </ul>
            <!-- THIS IS THE ICON -->
            <a href="javascript:void(0)" class="icon">
              <div class="hamburger">
                <div class="menui top-menu"></div>
                <div class="menui mid-menu"></div>
                <div class="menui bottom-menu"></div>
              </div>
            </a>
