    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="intro-text">
                        <h1>We create bespoke 
                        <span class="b-blue">eCommerce</span> websites.</h1>  
                        <p>Specialized in Ruby on Rails, 
                            UX Design, Digital Marketing
                            and eCommerce.</p>  
                
                    </div>
                 </div>
                    <div class="col-lg-6">
                        <img src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjU5IiBoZWlnaHQ9IjkzMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTk2LjE1LTMxM0M3Ny4wMjItMjQ5LjA0Ny0xMDcuNzI2LTI4Ljg4NSAxMDYuMzA1IDM0MC4xMzggMzIwLjMzNiA3MDkuMTYgNjk5Ljk0OCA5ODYuNDcgODYzIDEwNzkiIHN0cm9rZT0iIzI2MjYyNyIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==" class="styled-components__Hair-l3hhur-8 dRdIoX">
                    </div>
                </div>
            </div>
          <!--<div class="a-line"></div>-->
        </div>
    </header>
