    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1>Digital Platform<br> for Grocers</h1>  
                        <p>Building the Grocery Shopping</br>
                            Experience of the Future</h>
                      
                     <a href="#about" class="btn btn-outline-secondary btn-lg">Who we are</a>
                    </div>
                </div>
            </div>
          <div class="a-line"></div>
        </div>
    </header>
