    <!-- Header -->
    <header>
         <div class="index-liquid"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1>Digital <br>eCommerce <br>Experts.</h1>     
                        <p class="skills">Specialized in Ruby on Rails,<br>UX Design <br>and eCommerce.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
