
    <!-- Intro Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
               <div class="col-md-6">
            <h6>We are</h6>
            <h3>Developers, designers,
              <br>all-around web enthusiasts.</h3>
            <p>We help people turn ideas into web apps or mobile applications through our backend development work. - it's great fun.</p>
          </div>
            </div>
            <div class="row">
            </div>
                
        </div>
    </section>
