
    <!-- Intro Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h2">We’ll help you—</h2>
            </div>
            <div class="col-md-6">
                <h2>Experts, having fun 
delivering great work.</h2>
            <p>We help people turn ideas into web apps or mobile applications through our backend development work. - it's great fun.</p>
          
            </div>
                
        </div>
    </section>
