
    <!-- Intro Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>We’ll help you—</h2>
                    <img src="img/{{ jobs-to-be-done.png }}" class="img-responsive" alt="">
            </div>
            <div class="col-md-6">
                <h3><svg width="24px" height="24px" viewBox="0 0 24 24" aria-hidden="true" fill="currentColor" style="margin-left: 0.5rem; visibility: visible;"><path d="M12 23C5.925 23 1 18.075 1 12S5.925 1 12 1s11 4.925 11 11-4.925 11-11 11zm-4.806-9.776l3.448 2.666a.53.53 0 0 0 .71-.058l5.517-6a.489.489 0 0 0-.042-.706.53.53 0 0 0-.73.042l-5.192 5.645-3.065-2.37a.53.53 0 0 0-.727.078.49.49 0 0 0 .08.703z"></path></svg>Product Vision</h3>
            <p>Ideas that solve a clear problem for real users</p>
          
            </div>
                
        </div>
    </section>
