<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        <!-- THIS IS THE MENU -->

        <ul class="mobilenav">
          <li><a href="#">jQuery</a></li>
          <li><a href="#">Script</a></li>
          <li><a href="#">Net</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Demo Page</a></li>
        </ul> 

        <!-- THIS IS THE ICON -->

        <a href="javascript:void(0)" class="icon">
          <div class="hamburger">
            <div class="menui top-menu"></div>
            <div class="menui mid-menu"></div>
            <div class="menui bottom-menu"></div>
          </div>
        </a>
     
      
        
    {% include nav.html %}
    {% include header.html %}
    {% include intro.html %}
    {% include about.html %}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
